html, body{
    height: 100%;
}
body{
    padding-top: 40px;
    font-size: 12px;
}
#header{
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #ddd;
}
.tr{
    display: table-header-group;
}
.th, .td{
    display: table-cell;
}

#material-dependency{
    background-color: #fff;
    overflow: hidden;
    height: 100%;
    padding-bottom: 40px;
}
#material-dependency > .main{
    height: 100%;
    overflow: auto;
}
#material-dependency > .bottom{
    height: 40px;
    /*border-top: 1px solid #555;*/
    text-align: center;
}
#select-dependency{
    padding: 5px;
    width: 100px;
    border-radius: 4px;
}
#required-material-list, #existing-material-list{
    height: 100%;
    padding: 10px;
    overflow: auto;
}
#required-material-list{
    width: 100%;
}
#required-material-list .table{
    width: 100%;
}
#required-material-list .tr{
    display: table-row;
}
#required-material-list .th, #required-material-list .td{
    padding: 5px;
}
#required-material-list .th{
    /*background-color: #ddd;*/
    border-bottom: 1px solid #555;
}
#required-material-list .td{
    text-align: left;
    /*background-color: #ddd;*/
    border-bottom: 1px solid #eee;
}
#required-material-list .name{
    width: 50%;
}
#required-material-list .quantity{
    width: 20%;
}
#required-material-list .unit{
    width: 15%;
}
#required-material-list .operation{
    width: 15%;
}
#required-material-list .quantity input{
    width: 100%;
}
#required-material-list li, #existing-material-list li{
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}

#existing-material-list .material-list{
    padding-left: 10px;
}
#existing-material-list .category-name{
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}
#existing-material-list li{
    padding-right: 24px;
}
#existing-material-list li label{
    width: 100%;
}
#existing-material-list li input[type="checkbox"]{
    width: 20px;
    height: 20px;
    margin-right: -24px;
}
#dependency-selector{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 20%;
    width: 80%;
    background-color: #fff;
    box-shadow: -5px 5px 5px #555;
    padding-bottom: 40px;
}
#dependency-selector .main{
    height: 100%;
    overflow: auto;
}
#dependency-selector .bottom{
    position: absolute;
    height: 40px;
    bottom: 0;
    width: 100%;
    text-align: center;
}
#dependency-selector .confirm, #dependency-selector .cancel{
    padding: 5px;
    width: 100px;
    border-radius: 4px;
}