#form{
    height: 100%;
}

#submit{
    padding: 5px;
    width: 100px;
    border-radius: 4px;
}
.category-with-materials{
    margin-top: 10px;
}
.category-name{
    padding: 10px;
    background-color: #aaa;
}

.material-name{
    width: 100%;
    padding: 10px 10px 10px 30px;
}
.material input{
    width: 20px;
    height: 20px;
}