/* 知识点
 当margin, padding设置成百分数的时候，其top right bottom left的值是参照父元素盒子的宽度进行计算，
在w3c的规范中也是这样描述的： margin, padding 的百分比值参照其包含块的宽度进行计算
这只发生在默认的 writing-mode: horizontal-tb; 和 direction: ltr; 的情况下，当书写模式变成纵向的时候，其参照将会变成包含块的高度
*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: inherit;
}

a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
}

i {
	font-style: normal;
}

input {
	line-height: normal;
}

button,
input,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

button,
input,
optgroup,
select,
textarea {
	margin: 0;
	font: inherit;
	color: inherit;
}


/*img*/

img {
	//解决图片与容器间的间隙问题
	display: block;
	//解决图片与容器间的间隙问题
	vertical-align: middle
}

.sm-img-wrap {
	//解决图片与容器间的间隙问题
	font-size: 0;
	position: relative;
	overflow: hidden;
}

.sm-js-ratio-square.sm-img-wrap img {
	max-height: 100%;
	max-width: 100%;
}


/*布局*/

html,
body {
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #ddd;
	margin: 0;
}


/*iconfont*/

@font-face {
	font-family: "iconfont";
	src: url('../../iconfont/iconfont.eot?t=1');
	/* IE9*/
	src: url('../../iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../../iconfont/iconfont.woff?t=1') format('woff'), /* chrome、firefox */
	url('../../iconfont/iconfont.ttf?t=1') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url('../../iconfont/iconfont.svg#iconfont?t=1') format('svg');
	/* iOS 4.1- */
}

.sm-icon {
	font-family: "iconfont" !important;
	/*font-size:14px;*/
	/*line-height: 22px;*/
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	/*-webkit-text-stroke-width: 0.2px;*/
	-moz-osx-font-smoothing: grayscale;
}


/*icon*/

.sm-icon-home:before {
	content: "\e62b";
}

.sm-icon-cart:before {
	content: "\e629";
}

.sm-icon-list:before {
	content: "\e62f";
}

.sm-icon-mine:before {
	content: "\e62d";
}

.sm-icon-up:before {
	content: "\e617";
}

.sm-icon-down:before {
	content: "\e618";
}

.sm-icon-left:before {
	content: "\e615";
}

.sm-icon-right:before {
	content: "\e616";
}

.sm-icon-back:before {
	content: "\e61f";
}

.sm-icon-close:before {
	content: "\e630";
}

.sm-icon-checkbox-r.checked:before {
	content: "\e626";
}

.sm-icon-checkbox-r:before {
	content: "\e619";
}

.sm-icon-rmb:before {
	content: "\e636";
}

.sm-icon-receiver:before {
	content: "\e61d";
}

.sm-icon-mobile:before {
	content: "\e603";
}

.sm-icon-phone:before {
	content: "\e633";
}

.sm-icon-address:before {
	content: "\e635";
}

.sm-icon-add:before {
	content: "\e644";
}

.sm-icon-modify:before {
	content: "\e63d";
}

.sm-icon-festival:before {
	content: "\e603";
}

.sm-icon-all:before {
	content: "\e62f";
}

.sm-icon-breakfast:before {
	content: "\e644";
}

.sm-icon-lab:before {
	content: "\e61d";
}

.sm-icon-dependency:before {
	content: "\e646";
}


/*tool class*/

.sm-align-center {
	position: relative;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.sm-align-v-center {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.sm-align-center-box {
	/* Firefox */
	display: -moz-box;
	-moz-box-pack: center;
	-moz-box-align: center;
	/* Safari、Opera 以及 Chrome */
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	/* W3C */
	display: box;
	box-pack: center;
	box-align: center;
}

.sm-block {
	display: block;
}

.sm-inline-block {
	display: inline-block;
}

.sm-abs-left {
	position: absolute;
	left: 0;
}

.sm-abs-right {
	position: absolute;
	right: 0;
}

.sm-float-left {
	float: left;
}

.sm-float-right {
	float: right;
}

.sm-width-full {
	width: 100%;
}

.sm-height-full {
	height: 100%;
}

.sm-padding-common {
	padding: 10px;
}

.sm-border-common {
	border: 1px solid #555555;
}


/*layout*/

.sm-module {}

.sm-layout-abs {
	position: relative;
}

.sm-layout-abs > .sm-layout-main {
	width: 100%;
	height: 100%;
	overflow: auto;
}

.sm-layout-abs > .sm-layout-top {
	position: absolute;
	top: 0;
	width: 100%;
}

.sm-layout-abs > .sm-layout-bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
}


/*
.sm-layout-abs > .sm-layout-left {
	position: absolute;
	left: 0;
}

.sm-layout-abs > .sm-layout-right {
	position: absolute;
	right: 0;
}
*/


/*list*/

.sm-list {
	position: relative;
	width: 100%;
	list-style: none;
	/*background-color: #fff;*/
	display: block;
	font-size: 0;
	white-space: normal;
	padding: 0;
}

.sm-list-item {
	font-size: 14px;
}


/*col*/

.sm-col-20,
.sm-col-25,
.sm-col-50 {
	display: inline-block;
	vertical-align: top;
}

.sm-col-20 {
	width: 20%;
}

.sm-col-25 {
	width: 25%;
}

.sm-col-50 {
	width: 50%;
}


/*ratio*/

.sm-js-ratio-square {}

.sm-ratio-square {
	height: 0;
	padding: 50% 0;
	position: relative;
}

.sm-ratio-square > .sm-ratio-content {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: auto;
	height: auto;
}


/*common cotent*/

#sm-top-bar {
	position: relative;
	height: 44px;
	line-height: 44px;
	text-align: center;
}

#sm-top-bar .sm-icon {
	font-size: 24px;
	vertical-align: middle;
}

#sm-top-bar .sm-action {
	padding: 0 10px;
}

#sm-top-bar .sm-action .sm-acton-text {
	/*font-size: 14px;*/
}